@mixin button($breakpoint,$color,$color1) {
    display: inline block;
    text-decoration: none;
    padding: .5em 1em;

    & :hover{
        background-color:$color;
    }
    @media screen and (min-width:$breakpoint){
        background-color: $color1;
    }
}

.button{
    @include button(640px,green,purple);
}

.suscription{
    @include button(320px,yellow,red);
}